Package: shortlook.plugin.contact-photo.wechat
Name: ShortLook_WeChat
Depends: mobilesubstrate, shortlook.xina2
Version: 1.0.2
Architecture: iphoneos-arm
Description: 当收到微信通知时，在ShortLook中显示微信用户的头像!
Maintainer: JeffResc
Author: Jeff Rescignano
Section: Tweaks (ShortLook)
